/* Global Styles */

@font-face {
    font-family: 'Nunito';
    src: url('/static/Nunito-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}


/* Layout and positioning */

.container {
    text-align: center;
    margin-bottom: 10vh;
    color: #fff;
    z-index: 1;
}

.popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 1;
    min-width: 30%;
    min-height: 30%;
    max-width: 80%;
}


/* Text Styling*/

h1 {
    font-size: 6vw;
    margin-bottom: 8vh;
    margin-top: -2vh;
}

p {
    margin-bottom: -2vh;
}

#popup-text {
    font-size: 20px;
    margin-right: 15px;
    order: 3;
}


/* Button Styling */

.container button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin: 8vh 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

#join-button {
    display: inline-block;
    background-color: #fcb3a9;
    border: none;
    width: 80%;
    font-size: 16px;
    padding: 8px 16px;
    margin: 6px 20px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#join-button:hover {
    background-color: #df7668;
}

#back-button {
    align-self: flex-start;
    border: none;
    color: #121212;
    background: none;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#back-button:hover {
    text-decoration: underline;
}


/* Form styling */

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
}

.popup input {
    width: 80%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
    border: 2px solid #aeb0b1;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.popup img {
    width: 120px;
    height: 120px;
    order: 2;
}

#formdeco {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Mobile support */

@media (max-width: 1000px) {
    h1 {
        font-size: 16vw; /* Increase the font size on mobile */
    }

    .container button {
        display: block; /* Stack the buttons */
        width: 40%; /* Make the buttons full width */
        height: 45px;
        margin: 12vh auto -8vh auto; /* Center the buttons */
    }

    .popup {
        flex-direction: column;
    }

    #form {
        order: 2;
    }

    #formdeco {
        order: 1;
    }

    #back-button {
        order: 3;
        font-size: 24px;
    }

    .popup input {
        order: 4;
        margin-right: 20px;
    }

    #join-button {
        order: 5;
        height: 45px
    }
}


/* -- Animations -- */

/* background */
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation: space 300s linear infinite;
}

@keyframes space {
    from {background-position: 0 0;}
    to {background-position: 11172px 5586px;}
}

/* element fade */
.fadein {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.fadeout {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

.opzero {
    transform: scale(1);
    opacity: 0;
}

.hidden {
    opacity: 0;
    display: none;
}