<!doctype html>
<html lang="en">
<head>
    <title>Safespace - be yourself</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="vastu, opintokalenteri, kurssit, luennot, HY, Helsingin Yliopisto">
    <meta name="author" content="Leo Pasanen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flowers.css">
    <link rel="icon" href="{{ url_for('static', filename='safelogo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='safecss.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to</h2>
        <h1>SafeSpace</h1>
        <p>SafeSpace is a social media site where you can post publicly or share encrypted media with your friends.</p>
        <p> Your privacy is our priority.</p>
        <div class="buttons">
            <a href="/login" class="btn">Log In</a>
            <a href="/signup" class="btn">Sign Up</a>
        </div>
    </div>
</body>
</html>
