<!doctype html>
<html lang="en">
<head>
    <title>Safespace - be yourself</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="safespace, social media, encrypted, privacy">
    <meta name="author" content="Leo Pasanen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='safelogo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='safecss.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to</h2>
        <h1>SafeSpace</h1>
        <p>SafeSpace is a social media site where you can post publicly or share encrypted media with your friends.</p>
        <p> Your privacy is our priority.</p>
        <div class="buttons">
            <button onclick="fadeShrink(1)">Log In</button>
            <button onclick="fadeShrink(2)">Sign Up</button>
        </div>
    </div>
    <div class="popup hidden">
        <form id="form" method="POST">
            <button id="back-button" onclick="backButton(event)">Back</button>
            <input type="text" id="username" placeholder="Username" autocomplete="username">
            <input type="password" id="password" placeholder="Password" autocomplete="current-password">
            <input type="hidden" id="action" name="action">
            <button id="join-button">Join!</button>
        </form>
        <div id="formdeco">
            <img src="{{ url_for('static', filename='safelogo.png') }}" alt="SafeSpace Logo">
            <p id="popup-text">Log-in</p>
        </div>
    </div>

<script src="{{ url_for('static', filename='safejs.js') }}"></script>
</body>
</html>
